apiVersion: v1
kind: Service
metadata:
  name: wiki
  labels:
    app: wiki
spec:
  type: ClusterIP
  selector:
    app: wiki
  ports:
    - name: http
      port: 8000
      targetPort: 8000
      protocol: TCP
